<div class="sidebar" data-color="blue" data-image="images/sidebar-5.jpg">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="http://#" class="simple-text">
                STUDENT RESOURCE
            </a>
        </div>

        <ul class="nav">
            <li class="active">
                <a href="/">
                    <i class="pe-7s-user"></i>
                    <p>Create Resource</p>
                </a>
            </li>
            <li>
                <a href="/api/Student_list">
                    <i class="pe-7s-note2"></i>
                    <p>Student List</p>
                </a>
            </li>
        </ul>
    </div>
</div>