body {
  background:url(../images/pattern16.png);
  /* background-color: blue; */
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color:whitesmoke
}

a {
  color: #00B7FF;
}

